<div class="hero-unit">
	<h1>Welcome to Social Note!</h1>
	<p>
		You've found the home page for the
		<%= link_to "Social Note", "http://www.facebook.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>